[Desktop Entry]
Categories=Qt;AudioVideo;Player;Video;
Comment=A modern mpv-based player
Exec=kokovp %U
GenericName=Media Player
MimeType=video/avi;video/mp4;video/flv;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm+ogg;video/x-theora;video/webm;
Name=KokoVP
Type=Application
X-KDE-StartupNotify=false

